/* car media */


@media screen and (max-width:991px) {
    .background{
        flex-wrap: wrap;
    }
    h3 {
        font-size: 1.2rem;
    }

    nav {
        margin-bottom: 100px;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav {
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        background-color: #ffffff;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        z-index: 1000;
        font-size: 24px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .example-area {
        gap: 20px;
    }

    .example-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section {
        padding-block: 80px;
    }

    .big-feature-container,#second-big-feature{
        display: flex;
        flex-direction: column;
    }
    .features-card{
        min-width: calc(50%-10px);
    }
    .example-section{
        margin-top: 100px;
    }
    .Road{
        width: 100%;
        height: 200px;
    }
    .topcar{
        top: 35px;
        position: absolute;
        width: 100px;
        height: 80px;
    }
    .secondcar{
        right: 0;
        top: 95px;
        position: absolute;
        width: 100px;
        height: 60px;
    }
    @keyframes car{
        100%{
            transform: translateX(1000px);
        }
    }
    @keyframes car2{
        100%{
            transform: translateX(-1000px);
        }
    }
}

@media screen and (max-width:767px) {
    .primary-button {
        width: 100%;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-left {
        max-width: 100%;
        text-align: center;
    }

    .features-card {
        min-width: calc(50%-10px);
    }

    .big-feature-container,
    #second-big-feature {
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column {
        align-items: stretch;
    }
    .example-card{
        width: 50%;
        position: relative;
        min-height: 100px;
    }
    .example-card h3{
        font-size: 12px;
    }
    .example-section{
        margin-top: 100px;
    }
    .topcar{
        top: 35px;
        position: absolute;
        width: 100px;
        height: 80px;
    }
    .secondcar{
        right: 0;
        top: 95px;
        position: absolute;
        width: 100px;
        height: 60px;
    }
    @keyframes car{
        100%{
            transform: translateX(800px);
        }
    }
    @keyframes car2{
        100%{
            transform: translateX(-800px);
        }
    }
   
}

@media screen and (max-width:600px) {
    :root {
        --padding-inline-section: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .features-card {
        min-width: 100%;
    }

    .example-card {
        width: 100%;
    }
    .example-card{
        width: 100%;
        min-height: 100px;
    }
    .example-card h3{
        font-size: 8px;
    }
    .example-section{
        margin-top: 100px;
    }
    .topcar{
        top: 35px;
        position: absolute;
        width: 100px;
        height: 80px;
    }
    .secondcar{
        right: 0;
        top: 95px;
        position: absolute;
        width: 100px;
        height: 60px;
    }
    @keyframes car{
        100%{
            transform: translateX(600px);
        }
    }
    @keyframes car2{
        100%{
            transform: translateX(-600px);
        }
    }

}
@media screen and (max-width:350px){
    .example-card{
        width: 100%;
    
        min-height: 10px;
    }
    .example-card h3{
        font-size: 6px;
    }
    .example-section{
        margin-top: 100px;
    }
    .topcar{
        top: 35px;
        position: absolute;
        width: 100px;
        height: 80px;
    }
    .secondcar{
        right: 0;
        top: 95px;
        position: absolute;
        width: 100px;
        height: 60px;
    }
    @keyframes car{
        100%{
            transform: translateX(400px);
        }
    }
    @keyframes car2{
        100%{
            transform: translateX(-400px);
        }
    }
}